<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>
<form action="/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= hidden_field_tag :letters, @letters.join(" ") %>

  <label for="word">Your word</label>
  <input type="text" id="word" name="word">

  <input type="submit" value="Play">
</form>
